@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

[x-cloak] {
    display: none;
}

.alert{
    font-size: large;
    padding: 0.50rem;
    border-radius: 0.25rem;
    border-width: 2px;
}
.alert-success{
    background-color: green;
    color: white;
    border-color: darkgreen;
}
.alert-danger{
    background-color: red;
    color: white;
    border-color: darkred;
}